{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="row">
<div class="col-lg-6">
 <h1>Step 2 of 2: Waiver Form</h1>
    <br>
    <p> Love the World has no liability for any damage that is incurred at this event. Hikers are responsible for nny loss of property. Hikers are also solely responsible for any ijuries sustained during the hike or on event grounds. Love the World takes no responsibility for these incidences. </p>
    <br>
  <br>
<form id="myForm" method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    <a href="#" onclick="document.getElementById('myForm').submit();"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png" alt="Buy now with PayPal" /></a>
</form>
</div>
</div>
{% endblock %}