{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="row">
    <div class="col-md-6">

      <h2> Eric Cajolet </h2>
      <h5> CEO </h5>
      <p>Eric was born and raised in Tulsa, Oklahoma and has been with Love the World since he founded it in 1994.  Eric originally wanted to start this company because of his love of exercise and helping others.  He decided to combine both of his interests and create a company that would encourage exercise for a good cause.  Thanks for being such a great guy, Eric!</p>

      <h2>Kereece Williams</h2>
      <h5>CFO</h5>
      <p>Kereece, born in Cheyenne, Wyoming, moved to the greater Tulsa area when she was 23. A graduate of the University of Oklahoma with a Finance major, and a background in community service, Kereece was eager to make a difference in the world. Kereece handles our finance department and allots our yearly budget for each run.  Thanks for loving the World, Kereece!</p>

      <h2>Brian Ganci</h2>
      <h5>External Relations</h5>
      <p>Brian, born in Boston, Massachusetts is our east coast friend.  Although not a Massachusetts native, Brian met his wife at NYU and they both decided to move to the greater Tulsa area to start a family.  Brian handles our external relations with the outside charity organizations and is in charge of determining which charity will be participating in the run each year.</p>

      <h2> Sean Feeney </h2>
      <h5> Race Manager</h5>
      <p>Sean, born and raised in Oklahoma City, has a history with running.  Sean has ran in the Los Angeles, New York, and Boston Marathon and has raised money for Cancer research each time he has done it. Sean has a passion for charity work, and we are very happy to have him on the Love the World team.  Sean works mainly with the vendors, and participants of the race and organizes the race. Without him, there wouldn’t be a race! Thanks for all the work you do, Sean.</p>

      <h2> Matt Bowden </h2>
      <h5> Website Manager </h5>
      <p>Matt, a Tulsa native, has been with Love the World since 2008.  He works mainly with our website, conducting maintenance, adding new features, etc.  He is also in charge of our Social Media accounts.</p>

      <h2>Colin Clare</h2>
      <h5>Chief Marketing</h5>
      <p>Colin, born and raised in Vancouver, Canada, went to the University of Oklahoma and fell in love with the state.  With a marketing degree, and a fiery passion for community service, Love the World was the ideal company to work for.  Colin is in charge of our marketing strategies, and also helps with social media.</p>

    </div>
<div class="row">
    <div class="col-md-6">
      <img src=/static/image/EricCajolet.png class ="img-circle" alt = "Eric" width = "220" height = "220" style ="float:right;" />
      <img src=/static/image/KereeceWilliams.png class ="img-circle" alt = "Eric" width = "220" height = "220" style ="float:right;" />
      <img src=/static/image/BrianGanci.png class ="img-circle" alt = "Eric" width = "220" height = "220" style ="float:right;" />
      <img src=/static/image/SeanFeeney.png class ="img-circle" alt = "Eric" width = "220" height = "220" style ="float:right;" />
      <img src=/static/image/MattBowden.png class ="img-circle" alt = "Eric" width = "220" height = "220" style ="float:right;" />
      <img src=/static/image/colinclare.png class ="img-circle" alt = "Eric" width = "220" height = "220" style ="float:right;" />
      <div class="jumbofaq">
      <br>
       <ul style="list-style-type:square">

         </div>
  </div>
</div>
{% endblock %}