{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<div class="row">
    <div class="col-md-6">
      <h1> CEO: Eric Cajolet. </h1>
      <li>Eric was born and raised in Tulsa, Oklahoma and has been with Love the World since he founded it in 1994.  Eric originally wanted to start this company because of his love of exercise and helping others.  He decided to combine both of his interests and create a company that would encourage exercise for a good cause.  Thanks for being such a great guy, Eric!</li>
    </div>
<div class="row">
    <div class="col-md-6">
      <h1>insert picture </h1>
      <div class="jumbofaq">
      <br>
       <ul style="list-style-type:square">
   
         </div>
  </div>
</div>
{% endblock %}